<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste des participants</title>
    <link rel="stylesheet" href="/css/listepart.css">

</head>
<body>
    <!-- Menu Horizontal -->
    <div class="horizontal-menu">
        <div class="horizontal-menu-items">
            <div class="project">Liste des participants</div>
            <a href="/"><button class="menu-item active">Retour</button></a>
        </div>
    </div>

    <div class="layout">
        <!-- Menu Vertical -->
        <aside class="vertical-menu">
            <div class="menu-section">
                <div class="project-name">VisionFlow</div>
                <a href="listeeve"><div class="menu-link1">📝Liste des événements</div></a>
                <div class="menu-link2">📝Liste des participants</div>
            </div>
        </aside>

        <!-- Contenu Principal -->

    <div class="container">

        <div id="participant-list" class="participant-list">
             <!-- Liste des participants -->
        </div>
    </div>
    </div>
     

    <script src="/js/listeoart.js"  type="module"></script>

</body>
</html>